[Unit]
Description=Simple server
After=syslog.target
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/alex/ServerLog/
User=alex
OOMScoreAdjust=-100

ExecStart=/home/alex/ServerLog/main
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target 